Various Issues

You might want to note that your parser is incompatible with Internet Explorer 7 and below. Alternatively you may want to replace `arg[0]` (line 48 and others) by `arg.substring(0, 1)` or something.

in Line 23 you're assuming that `//hostname` equals `http://hostname`. That is only true if the scheme of the document's resource the script is executed in is `http`. Should the page be served via https, this little line defeats the purpose of "scheme agnostic URLs".

According to [RFC 3986 Section 3.3](http://tools.ietf.org/html/rfc3986#section-3.3), this is a a valid path: `"/foo/xy://bar"` - but `url("path", "/foo/xy://bar") === "//bar/"` - which is wrong…

I have stopped reviewing the code on line 32 because I found it unbearable to read without "running every single expression in my head". 
